.box-product {
  background-color: white;
  border: none;
  border-radius: 4px;
  margin: 10px;
  text-align: center;
}

.details {
  background-color: white;
  border: double;
  margin: 20px;
  text-align: left;
  width: max-content;
}
