.inputArea {
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  height: 25px;
  margin-right: 4px;
  padding-left: 10px;
  width: 85%;
}

.sb-btn {
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  height: 25px;
}


